
body {
    background-color: blanchedalmond;
  }
  
  h1 {
    color: white;
    text-align: left;
    border:20px;
    background:burlywood;
  }
  
   #button1 {
    color:red;
    background-color: blue;
    border-color: red;
    padding:5px;
  }

  #button2 {
  color:blue;
  background-color: red;
  border-color: blue;
  padding: 5px;
  }
  
  p {
    font-family: cascadia mono, ,'Franklin Gothic Medium', 'Arial Narrow',verdana Arial, sans-serif;
    font-size: 20px;
  }


<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: black;
  }